.capa {
    width: 17%;
    text-align: left;
}
P{ 
    font-size: larger;
    text-align: center;
    color: #603933;
}
a{
    font-size: larger;
    text-align: center;
}

.sistema{
    color: #603933;
}

.bonito{
    color: #a5bb50;
}


.ccp{
  color: rgb(139, 173, 79);
  text-align: center;
}


p  { 
    text-align: left;
}

    .imagemcentralizada {
        text-align: center;
    }

.lista {
    color: dimgray;
}

nav a {
    text-transform: uppercase;
    color: #a5bb50;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;

  }
  .produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.pro-duto  {
    width: 50%;
}

.produ-to  {
    width: 60%;
}
.crase {
    width: 50%;
}
.pontos {
    width: 30%;
}

  
