h1 {
    background-color: rgba(33, 226, 194, 0.5);
    text-align:center;
}

p {
    text-align: center;
}

strong {
    font-size: 30px
}
h2 {
    text-align: left;
}

h3 {
    text-align: left;
    font-size:x-large
}

p  { 
    text-align: left;
}


.arte {
    width: 50%

}
    .imagemcentralizada {
        text-align: center;
    }

.lista {
    color: dimgray;
}
