.capa {
    width: 17%;
    text-align: left;
}
P{ 
    font-size: larger;
    text-align: center;
    color: #603933;
}
a{
    font-size: larger;
}

.a-a{
    font-size: medium;
    position: relative;
    top: 0%;
    left: 48%;
}

.ppg {
    text-align: center;
}

.sistema{
    color: #603933;
}

.bonito{
    color: #000;
}


.ccp{
  color: #000;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: x-large
}


p  { 
    text-align: left;
}

    .imagemcentralizada {
        text-align: center;
    }

.lista {
    color: dimgray;
}

nav a {
    text-transform: uppercase;
    color: #a5bb50;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;

  }
  .produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.produtos h3 {
    font-size: 30px;
    font-weight: bold;
    border-width: 2px;
  border-style: solid;
}

.produto-descricao {
    font-size: 18px;
    border-color: #000000;
  border-width: 2px;
  border-style: solid;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.pro-duto  {
    width: 50%;
}

.produ-to  {
    width: 60%;
}

.p-duto{
   width: 60%;
}

.crase {
    width: 50%;
}
.pontos {
    width: 30%;
}

  
